@CHARSET "UTF-8";

* {
	box-sizing: border-box;
}

label {
	color: blue;
	vertical-align: top;
}

label::after {
	content: ":";
	vertical-align: top;
}

.inputDiv {
	float: left;
	min-width: 25%;
	padding: 1em;
}

.clearLeft {
	clear: left;
}