@CHARSET "UTF-8";

* {
	box-sizing: border-box;
}

label, .label {
    color: blue;
    vertical-align: top;
    float: left;
    width: 120px;
}

.input {
    float: left;
}

label::after, .label::after {
	content: ":";
	vertical-align: top;
}

.inputDiv {
	float: left;
	min-width: 25%;
	padding: 1em;
}

.clearLeft {
	clear: left;
}

.gridDiv {
	float: left;
	width: 100%;
}
